* {
    font-family: Arial, serif;
    outline: none;
}

body { margin: 0 }

a { color: #3d54e3 }

a:hover { color: #3548bf }

.simple-auth { margin: 100px }

.simple-auth form > * { display: block }

.simple-auth input {
    margin: 0 0 12px;
    height: 40px;
    border: 2px solid #aaa;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0 20px;
}

.simple-auth button {
    color: #fff;
    background-color: #aaa;
    border-radius: 6px;
    border: none;
    height: 40px;
    padding: 0 40px;
    cursor: pointer;
}

.simple-auth__message {
    color: #ff001e;
    margin: 12px 0;
}

.simple-auth__controls {
    display: flex;
    align-items: center;
}

.simple-auth__controls :first-child { margin-right: 40px }

.userinfo {
    margin: 0 0 40px;
    display: flex;
    align-items: center;
}

.userinfo :first-child { margin-right: 40px }
